{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}

{% include "disqus_javascript.html" %}

<div class="layout-major-minor blog-post">
  <div class="major-column">
  <h1>{{ object.title }}</h1>

  <p class="meta">{{ object.publication_date|date }} ({{ object.publication_date|timesince }} ago)</p>

  {{ object.content }}

  <p class="social-media-buttons">
    <span class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" url="{{ object.get_absolute_url }}"
        data-text="{{ object.title }}" data-via="PeoplesAssem_SA" data-related="PMG_sa">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </span>

    <span class="facebook">
      <iframe src="//www.facebook.com/plugins/like.php?href={{ request.build_absolute_uri|urlencode }}&amp;width&amp;layout=standard&amp;action=recommend&amp;show_faces=false&amp;share=true&amp;height=35&amp;appId=238311416374684" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
    </span>
    <span class="clear"></span>
  </p>

  {% include "info/_blog_tags.html" %}

  {% include 'disqus_comments.html' %}

    </div>
    <div class="minor-column">

      {% include "info/_blog_sidebar.html"%}

    </div>
  </div>
{% endblock %}
